{% extends "base.html" %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Staff register process</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly fill the form to complete registration as staff. if you sent your email earlier it will be more easier.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Cancel process</button>
      </div>
    </div>
  </div>
{% endblock content %}